@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

.brand-pink {
  background-color: #f8c8dc; /* soft light pink */
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),
    url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h5 {
  font-family: "Playfair Display", serif;
}

.navbar .nav-link {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #5a3e36;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover {
  color: #d63384;
}
